header {
  display: flex;
  justify-content: space-between;
  color: black;
}

.logo {
  height: 3rem;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-link {
  display: inline-block;
  a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    margin: 0 20px;
    cursor: pointer;
  }
}

.nav-link a:hover:not(.nav-active) {
  border-bottom: 3px solid $lavender50;
}

.nav > * {
  margin: 0 1rem;
  border-bottom: 3px solid transparent;
}

.nav-active {
  border-bottom: 3px solid $lavender;
}
